<mat-card class="card">

  <mat-card-header>
    <img mat-card-avatar src="{{tweet.user.pictureUrl}}">
    <mat-card-title>
      <button mat-button (click)="navigateToUser.emit(tweet.user.username)">{{tweet.user.username}}</button>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="message" align="center">
      {{tweet.message}}
    </p >
    <p class="mat-caption" align="right">
      {{tweet.timestamp | date:'short' }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button *ngIf="tweet.replyTo != 0" mat-icon-button matTooltip="{{tweet.replyTo}}" (click)="navigateToTweet.emit(tweet.replyTo)">
      <mat-icon>reply</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleLikeMethod()">{{tweet.numOfLikes}} <mat-icon [class.thumbsUp]="tweet.liked">thumb_up</mat-icon></button>
    <button mat-icon-button (click)="navigateToTweet.emit(tweet.id)">{{tweet.numOfReplies}} <mat-icon>comment</mat-icon></button>
  </mat-card-actions>
  
</mat-card>