<div class="container">
  <h2 class="mat-title" align="center"> Register </h2>
  <form [formGroup]="registerForm" novalidate (ngSubmit)="registerUser()">
  
    <div class="formFieldContainer">
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="username"  placeholder="Username">
        <mat-error> Min 2 characters </mat-error>
      </mat-form-field>
    </div>
  
    <div class="formFieldContainer">
      <mat-form-field appearance="outline">
        <input matInput type="email" formControlName="email"  placeholder="Email">
        <mat-error>You must enter a valid email</mat-error>
      </mat-form-field>
    </div>
  
    <div class="formFieldContainer">
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="password"  placeholder="Password">
        <mat-error> Min 6 characters </mat-error>
      </mat-form-field>
    </div>
  
  
    
    <div class="registerButton">
      <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Register</button>
    </div>
  </form>
  
</div>