<div class="container">
  <h2 class="mat-title" align="center"> Login </h2>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" class="form">
    
    <div class="formFieldContainer">
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="username"  placeholder="Username">
        <mat-error> Min 2 characters </mat-error>
      </mat-form-field>
    </div>

    <div class="formFieldContainer">
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error> Min 6 characters </mat-error>
      </mat-form-field>
    </div>
    
    <div class="loginButton">
      <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
    </div>
  
  </form>
</div>


<!--
  <div class="FormElement">
    <label for="username"> Username: </label>
    <input type="text" formControlName="username" id="username">
  </div>

  <div class="FormElement">
    <label for="password"> Password: </label>
    <input type="password" formControlName="password" id="password">
  </div>

  <div class="loginButton">
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </div>
-->